# Build results
**/bin/
**/obj/
**/out/

# IDE
.vs/
.vscode/
.idea/
*.user
*.suo

# Logs
**/logs/
*.log

# Git
.git/
.gitignore
.gitattributes

# Docker
Dockerfile*
docker-compose*
.dockerignore

# Documentation
README.md
*.md

# Other
**/.DS_Store
**/node_modules/
**/.claude/
